doctype html

html(lang="en")

  head
    // Required meta tags
    meta(charset='utf-8')
    title
    // Behavioral Meta Data
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Core Meta Data
    meta(name='author', content='')
    meta(name='description', content='')
    meta(name='keywords', content='')
    // Favicon
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/site.webmanifest')
    // Open Graph
    meta(property='og:title', content='')
    meta(property='og:url', content='')
    meta(property='og:description', content='')
    meta(property='og:locale', content='en_US')
    meta(property='og:site_name', content='')
    meta(property='og:type', content='')
    // Twitter Open Graph
    meta(name='twitter:card', content='')
    meta(name='twitter:title', content='')
    meta(name='twitter:description', content='')
    meta(name='twitter:site', content='')
    // Bootstrap and Theme Styles
    link(rel='stylesheet', href='assets/css/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/theme.min.css')

  body
    // Body
    // JavaScript (jQuery), Bootstrap, popper.js, and custom scripts
    script(src='assets/js/vendor/jquery.min.js')
    script(src='assets/js/vendor/popper.min.js')
    script(src='assets/js/vendor/bootstrap.min.js')
    script(src='assets/js/theme.min.js')